<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
my_string1 = 'Tutorial'
my_string2 = "primer laboratorio"
print(my_string1 + ' ' + my_string2)

Tutorial primer laboratorio

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

In [ ]:
my_int = 25
print(my_int)
print(type(my_int))

25
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

In [ ]:
my_string = "555"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

In [ ]:
my_string = "500"
my_float = float(my_string)
print(type(my_float))

<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

In [ ]:
my_bool = True
print(my_bool)
print(type(my_bool))

True
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

In [ ]:
print("Addition ", 2+1)
print("Subtraction ", 6-2)
print("Multiplication ", 3*3)
print("Division ", 20/2)
print('exponent', 3**3)

Addition  3
Subtraction  4
Multiplication  9
Division  10.0
exponent 27

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

In [ ]:
print(3/3)
print(1.0/4)

1.0
0.25

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

In [ ]:
my_list = ['primer', 'tutorial', '2021',1,2]
print(my_list)

['primer', 'tutorial', '2021', 1, 2]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3,4]
print(len(my_list))
print(my_list[3])
print(my_list[len(my_list) -1])

6
2
4

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[0] = 'go'
print(my_list)

['go', 'Connect', 1, 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:4])

['Connect', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

In [ ]:
print(my_list[3:])

[2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

In [ ]:
print(my_list[:2])

['Quant', 'Connect']

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Prueba')
print(my_list)

['Hello', 'Quant', 'Prueba']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Prueba']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[2:])

('QuantConnect',)

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'F', 'GOOG', 'IBM', 'AAPL'}

In [ ]:
stock_list = ['add','repo','add','AAPL','repo','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'GOOG', 'AAPL', 'FB', 'repo', 'add', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['FB'])

FaceBook

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG', 'PRUEBA'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

In [ ]:
my_dic = {'Manzana':'AAPLE', 'naranja':'ORANGE', 'perro':'DOG'}
print(my_dic['Manzana'])

AAPLE

In [ ]:
print(my_dic.keys())

dict_keys(['Manzana', 'naranja', 'perro'])

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

In [ ]:
my_str = 'Una palabra demasiado larga'
print(my_str[11:])

 demasiado larga

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

In [ ]:
print('tres tristes tigres tragaban trigo en un trigal'.count('e'))
print('la primer vez de los tigres'.find('m'))
print('tres tristes tigres tragaban trigo en un trigal'.replace('t','s'))

4
6
sres srisses sigres sragaban srigo en un srigal

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

In [ ]:
Time = '2021-10-16 10:43:00 '
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2021-10-16 10:43:00
10

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('10','43')
print(my_time)

Hour: 10, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

In [ ]:
print('the pi number is %f'%3.14)
print('%s como %s'%('Hola','esta?'))

the pi number is 3.140000
Hola como esta?

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [63]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

In [64]:
print(4 == 0)
print(2 == 1)
print(1 != 0)
print(5 >= 10)
print(5 >= 5)

False
False
True
False
True

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [66]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

In [65]:
print(2 > 1 and 1 > 2)
print(2 > 1 and 4 < 2) 
print(4 > 1 or 3 < 2)
print(0 < 1 and 3 < 2)

False
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [67]:
print((4 > 2 or 4 < 3) and (1!=3 and 6>3) and not ( 7 < 2 or 1 < 3 and (3!=3 and 6>3)))
print(4 > 2 or 4 < 3 and (1!=3 and 6>3) and not ( 7 < 2 or 1 < 3 and (3!=3 and 4>3)))

True
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

In [70]:
i = 19
if i == 19:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [72]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

In [73]:
p = 7 > 0
q = 1 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [74]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [75]:
i = 2
while i < 5:
    print(i)
    i += 1

2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [76]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [77]:
for i in [1,2,3]:
    print(i)

1
2
3

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [78]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

In [87]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM','GOOG']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)
print(new_list)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
['FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [88]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [89]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'G':
        break

AAPL
GOOG
IBM
FB
F
V
G

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [91]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

In [93]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'GOOG':
        continue
    print(i)

AAPL
IBM
FB
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [94]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

In [95]:
squares = []
for i in [10,20,30,40,50]:
    squares.append(i**2)
print(squares)

[100, 400, 900, 1600, 2500]

Using list comprehension:

In [96]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

In [97]:
list = [1,2,3,4,5]
squares = [x**3 for x in list]
print(squares)

[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [98]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

In [99]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['GOOG','FB']
new_list = [x for x in stocks if x in selected]
print(new_list)

['GOOG', 'FB']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [101]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

In [102]:
print([(x, y) for x in [4,5,6] for y in [7,8,9] if x != y])
print([str(x)+' vs '+str(y) for x in ['abc','def','ghi','jk'] for y in ['1','2','3','4'] if x!=y])

[(4, 7), (4, 8), (4, 9), (5, 7), (5, 8), (5, 9), (6, 7), (6, 8), (6, 9)]
['abc vs 1', 'abc vs 2', 'abc vs 3', 'abc vs 4', 'def vs 1', 'def vs 2', 'def vs 3', 'def vs 4', 'ghi vs 1', 'ghi vs 2', 'ghi vs 3', 'ghi vs 4', 'jk vs 1', 'jk vs 2', 'jk vs 3', 'jk vs 4']

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

In [104]:
def product(x,y):
    return x*y
print(product(3,3))
print(product(1,10))

9
10

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [106]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

In [105]:
def say_hi():
    print('laboratorio 1')
say_hi()

laboratorio 1

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [107]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

In [108]:
print(range(5))
print(range(1,5))
print(range(1,2,4))

range(0, 5)
range(1, 5)
range(1, 2, 4)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [109]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

In [111]:
tickers = ['1','2','3','4','5','5', '6', '7']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
1
2
3
4
5
5
6
7

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

In [1]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

In [3]:
tickers = ['AL','GOG','IM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[2, 3, 2, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [4]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [5]:
list(map(lambda x: x**3, range(5)))

[0, 1, 8, 27, 64]

map() can be applied to more than one list. The lists have to have the same length.

In [6]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

In [7]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[7,8,9,10,11]))

[8, 10, 12, 14, 16]

sorted() takes a list or set and returns a new sorted list

In [8]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

In [9]:
sorted([55,444,1,4,5])

[1, 4, 5, 55, 444]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [10]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [11]:
price_list = [('AAPL',1.09),('GOOG',11.71),('MSFT',9),('FB',50),('WMT',5.32)]
sorted(price_list, key = lambda x: x[1])

[('AAPL', 1.09), ('WMT', 5.32), ('MSFT', 9), ('GOOG', 11.71), ('FB', 50)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [12]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

In [14]:
price_list = [('AAPL',1.09),('GOOG',11.71),('MSFT',6),('FB',50),('WMT',5.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('FB', 50), ('GOOG', 11.71), ('MSFT', 6), ('WMT', 5.32), ('AAPL', 1.09)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [15]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

In [16]:
price_list = [('AAPL',14.09),('GOOG',1.71),('MSFT',6),('FB',1),('WMT',5.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

[('FB', 1), ('GOOG', 1.71), ('WMT', 5.32), ('MSFT', 6), ('AAPL', 14.09)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [17]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

In [48]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

In [49]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

In [46]:
apple = stock('AAPL', 153.69, 104.09, 201093)
google = stock('GOOG', 198.7, 111.7, 561616)

In [50]:
apple.ticker
google.print_return()
google.update(340.8,358.4)
google.print_return()

0.0006573181419806673
0.05164319248826277

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [51]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

In [52]:
apple.ceo = 'Tim'
apple.ceo

'Tim'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [53]:
dir(apple)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

In [54]:
dir(google)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [55]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [57]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

In [59]:
aa = child('33')
print(aa.name)
aa.update(130,189)
print(aa.open)
print(aa.close)
print(aa.print_return())

33
130
189
0.4538461538461538
None

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [60]:
import numpy as np

price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

In [61]:
import numpy as np

price_list = [43.73, 45.83, 43.68, 44.02, 43.5, 12.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[43.73 45.83 43.68 44.02 43.5  12.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [94]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

In [95]:
print(Ar.shape)

(2, 2)

In [96]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

In [97]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [ ]:
ejemplo

In [89]:
Ar = np.array([[1,0],[0,1]])
print(Ar, type(Ar))

[[1 0]
 [0 1]] <class 'numpy.ndarray'>

In [90]:
print(Ar.shape)

(2, 2)

In [91]:
print(Ar[0])
print(Ar[1])

[1 0]
[0 1]

In [92]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 0]
the second column:  [0 1]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [99]:
print(np.log(price_array))

[3.77803437 3.8249389  3.77689033 3.78464408 3.77276094 2.53528286]

In [100]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

38.89666666666667
11.77720208236612
233.38000000000002
45.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [102]:
import pandas as pd

price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

In [103]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

In [104]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

In [105]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

In [106]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

In [107]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

In [108]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

EJEMPLO

In [118]:
price = [3, 45.83, 43.68, 44.02, 5, 2.62]
s = pd.Series(price)
s

0     3.00
1    45.83
2    43.68
3    44.02
4     5.00
5     2.62
dtype: float64

In [119]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a     3.00
b    45.83
c    43.68
d    44.02
e     5.00
f     2.62
dtype: float64

In [120]:
s.index = [6,5,4,3,2,1]
s

6     3.00
5    45.83
4    43.68
3    44.02
2     5.00
1     2.62
dtype: float64

In [121]:
print(s[1:])
print(s[:-2])

5    45.83
4    43.68
3    44.02
2     5.00
1     2.62
dtype: float64
6     3.00
5    45.83
4    43.68
3    44.02
dtype: float64

In [122]:
print(s[4])
s[4] = 0
print(s)

43.68
6     3.00
5    45.83
4     0.00
3    44.02
2     5.00
1     2.62
dtype: float64

In [123]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0     3.00
1    45.83
2    43.68
3    44.02
4     5.00
5     2.62
Name: Apple Price List, dtype: float64
Apple Price List

In [124]:
print(s.describe())

count     6.000000
mean     24.025000
std      22.466652
min       2.620000
25%       3.500000
50%      24.340000
75%      43.935000
max      45.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [125]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')
2017-01-01     3.00
2017-01-02    45.83
2017-01-03    43.68
2017-01-04    44.02
2017-01-05     5.00
2017-01-06     2.62
Freq: D, Name: Apple Price List, dtype: float64

In [126]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6     3.00
5    45.83
4    43.68
3    44.02
2     5.00
1     2.62
Name: Apple Price List, dtype: float64
2.62

In [127]:
print(s.iloc[1])

45.83

In [128]:
s.index = time_index
print(s['2017-01-03'])

43.68

In [129]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    45.83
2017-01-03    43.68
2017-01-04    44.02
2017-01-05     5.00
Freq: D, Name: Apple Price List, dtype: float64

In [130]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01    3.00
2017-01-05    5.00
2017-01-06    2.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02     True
2017-01-03     True
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

EJEMPLO

In [131]:
time_index = pd.date_range('2021-10-15',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2021-10-15', '2021-10-16', '2021-10-17', '2021-10-18',
               '2021-10-19', '2021-10-20'],
              dtype='datetime64[ns]', freq='D')
2021-10-15     3.00
2021-10-16    45.83
2021-10-17    43.68
2021-10-18    44.02
2021-10-19     5.00
2021-10-20     2.62
Freq: D, Name: Apple Price List, dtype: float64

In [132]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6     3.00
5    45.83
4    43.68
3    44.02
2     5.00
1     2.62
Name: Apple Price List, dtype: float64
2.62

In [133]:
print(s.iloc[1])

45.83

In [135]:
s.index = time_index
print(s['2021-10-15'])

3.0

In [137]:
print(s['2021-10-10':'2021-10-15'])

2021-10-15    3.0
Freq: D, Name: Apple Price List, dtype: float64

In [138]:
print(s[s < np.mean(s)] )
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2021-10-15    3.00
2021-10-19    5.00
2021-10-20    2.62
Name: Apple Price List, dtype: float64
[2021-10-15    False
2021-10-16     True
2021-10-17     True
2021-10-18     True
2021-10-19    False
2021-10-20    False
Freq: D, Name: Apple Price List, dtype: bool]

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the QuantBook API to retrieve data.

In [139]:
!pip install yfinance

Collecting yfinance
  Downloading yfinance-0.1.63.tar.gz (26 kB)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.1.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.19.5)
Requirement already satisfied: requests>=2.20 in /usr/local/lib/python3.7/dist-packages (from yfinance) (2.23.0)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.9)
Collecting lxml>=4.5.1
  Downloading lxml-4.6.3-cp37-cp37m-manylinux2014_x86_64.whl (6.3 MB)
     |████████████████████████████████| 6.3 MB 13.9 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.20->yfinance) (3.0.4)
Building wheels for collected packages: yfinance
  Building wheel for yfinance (setup.py) ... done
  Created wheel for yfinance: filename=yfinance-0.1.63-py2.py3-none-any.whl size=23918 sha256=c62cc88676049352fb06791aba850ce32bc01e0c40cdbf53863697794bfd747e
  Stored in directory: /root/.cache/pip/wheels/fe/87/8b/7ec24486e001d3926537f5f7801f57a74d181be25b11157983
Successfully built yfinance
Installing collected packages: lxml, yfinance
  Attempting uninstall: lxml
    Found existing installation: lxml 4.2.6
    Uninstalling lxml-4.2.6:
      Successfully uninstalled lxml-4.2.6
Successfully installed lxml-4.6.3 yfinance-0.1.63

In [140]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 147000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408-996-1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'http://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.31955, 'profitMargins': 0.25004, 'grossMargins': 0.41005, 'operatingCashflow': 104414003200, 'revenueGrowth': 0.364, 'operatingMargins': 0.28788, 'ebitda': 110934999040, 'targetLowPrice': 132, 'recommendationKey': 'buy', 'grossProfits': 104956000000, 'freeCashflow': 80625876992, 'targetMedianPrice': 169.64, 'currentPrice': 144.84, 'earningsGrowth': 1, 'currentRatio': 1.062, 'returnOnAssets': 0.19302, 'numberOfAnalystOpinions': 42, 'targetMeanPrice': 167.92, 'debtToEquity': 210.782, 'returnOnEquity': 1.27125, 'targetHighPrice': 190, 'totalCash': 61696000000, 'totalDebt': 135491002368, 'totalRevenue': 347155005440, 'totalCashPerShare': 3.732, 'financialCurrency': 'USD', 'revenuePerShare': 20.61, 'quickRatio': 0.887, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.058, 'beta3Year': None, 'enterpriseToEbitda': 22.087, '52WeekChange': 0.24883604, 'morningStarRiskRating': None, 'forwardEps': 5.68, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16530199552, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.882, 'sharesShort': 101107412, 'sharesPercentSharesOut': 0.0061000003, 'fundFamily': None, 'lastFiscalYearEnd': 1601078400, 'heldPercentInstitutions': 0.58699, 'netIncomeToCommon': 86801997824, 'trailingEps': 5.108, 'lastDividendValue': 0.22, 'SandP52WeekChange': 0.3047781, 'priceToBook': 37.310665, 'heldPercentInsiders': 0.00072999997, 'nextFiscalYearEnd': 1664150400, 'yield': None, 'mostRecentQuarter': 1624665600, 'shortRatio': 1.18, 'sharesShortPreviousMonthDate': 1630368000, 'floatShares': 16512974627, 'beta': 1.222222, 'enterpriseValue': 2450171625472, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1628208000, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': 0.932, 'priceToSalesTrailing12Months': 6.896729, 'dateShortInterest': 1632960000, 'pegRatio': 1.38, 'ytdReturn': None, 'forwardPE': 25.5, 'lastCapGain': None, 'shortPercentOfFloat': 0.0061000003, 'sharesShortPriorMonth': 96838699, 'impliedSharesOutstanding': None, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 143.76, 'regularMarketOpen': 143.77, 'twoHundredDayAverage': 138.51486, 'trailingAnnualDividendYield': 0.0058082915, 'payoutRatio': 0.16309999, 'volume24Hr': None, 'regularMarketDayHigh': 144.895, 'navPrice': None, 'averageDailyVolume10Day': 69714450, 'regularMarketPreviousClose': 143.76, 'fiftyDayAverage': 146.65428, 'trailingAnnualDividendRate': 0.835, 'open': 143.77, 'toCurrency': None, 'averageVolume10days': 69714450, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.88, 'exDividendDate': 1628208000, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 143.515, 'currency': 'USD', 'trailingPE': 28.35552, 'regularMarketVolume': 65076405, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2394234028032, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 77658903, 'dayLow': 143.515, 'ask': 144.97, 'askSize': 1200, 'volume': 65076405, 'fiftyTwoWeekHigh': 157.26, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.24, 'fiftyTwoWeekLow': 107.32, 'bid': 144.86, 'tradeable': False, 'dividendYield': 0.0061000003, 'bidSize': 3200, 'dayHigh': 144.895, 'regularMarketPrice': 144.84, 'logo_url': 'https://logo.clearbit.com/apple.com'}

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-04  23.655164  24.291441  23.514538  ...  270597600        0.0             0
2016-01-05  24.379045  24.402098  23.609059  ...  223164000        0.0             0
2016-01-06  23.182573  23.599842  23.023505  ...  273829600        0.0             0
2016-01-07  22.749166  23.083441  22.230463  ...  324377600        0.0             0
2016-01-08  22.719191  22.848290  22.306534  ...  283192000        0.0             0
...               ...        ...        ...  ...        ...        ...           ...
2017-12-22  41.827752  42.004949  41.784653  ...   65397600        0.0             0
2017-12-26  40.898675  41.059108  40.630484  ...  132742000        0.0             0
2017-12-27  40.731065  40.893892  40.637678  ...   85992800        0.0             0
2017-12-28  40.946561  41.150098  40.822044  ...   65920800        0.0             0
2017-12-29  40.831629  40.848389  40.520339  ...  103999600        0.0             0

[503 rows x 7 columns]

In [142]:
aapl = aapl_table['Close']['2017']

In [143]:
print(aapl)

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041653
                ...
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850792
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [144]:
print(aapl['2017-3'])

Date
2017-03-01    33.086281
2017-03-02    32.889839
2017-03-03    33.083923
2017-03-06    32.979771
2017-03-07    33.022385
2017-03-08    32.899303
2017-03-09    32.823563
2017-03-10    32.932442
2017-03-13    32.946636
2017-03-14    32.896935
2017-03-15    33.244869
2017-03-16    33.299313
2017-03-17    33.133621
2017-03-20    33.481548
2017-03-21    33.098114
2017-03-22    33.472080
2017-03-23    33.353741
2017-03-24    33.287472
2017-03-27    33.344280
2017-03-28    34.035400
2017-03-29    34.111141
2017-03-30    34.066166
2017-03-31    34.002254
Name: Close, dtype: float64

In [145]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341724
2017-02-02    30.289883
2017-02-03    30.419493
2017-02-06    30.704645
2017-02-07    30.996874
                ...
2017-04-24    33.997524
2017-04-25    34.208172
2017-04-26    34.006989
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [146]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.372362
2017-01-04    27.341726
2017-01-05    27.480770
2017-01-06    27.787130
2017-01-09    28.041653
Name: Close, dtype: float64
Date
2017-12-15    41.657742
2017-12-18    42.244400
2017-12-19    41.794235
2017-12-20    41.748734
2017-12-21    41.906773
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850792
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [147]:
by_month = aapl.resample('M').mean()
print(by_month)

Date
2017-01-31    28.178333
2017-02-28    31.606276
2017-03-31    33.282221
2017-04-30    33.819263
2017-05-31    36.125684
2017-06-30    35.133984
2017-07-31    35.245242
2017-08-31    37.897227
2017-09-30    37.604739
2017-10-31    37.654550
2017-11-30    41.233915
2017-12-31    41.160039
Freq: M, Name: Close, dtype: float64

We can also aggregate the data by week:

In [148]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.495497
2017-01-15    28.097735
2017-01-22    28.266119
2017-01-29    28.553980
2017-02-05    29.662542
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [149]:
aapl.resample('M').max()

Date
2017-01-31    28.739210
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264984
2017-05-31    37.099129
2017-06-30    36.944653
2017-07-31    36.471703
2017-08-31    39.129726
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050133
2017-12-31    42.244400
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [150]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787130
2017-01-09    28.110776
2017-01-12    28.078174
2017-01-15    28.279671
                ...
2017-12-17    42.019318
2017-12-20    41.854093
2017-12-23          NaN
2017-12-26    40.886703
2017-12-29    40.522732
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172572
2017-02-05    29.108261
2017-02-19    31.516816
2017-03-05    32.595558
2017-03-19    33.017884
2017-04-02    33.625220
2017-04-16    33.849728
2017-04-30    33.791845
2017-05-14    35.697633
2017-05-28    36.496176
2017-06-11    36.515010
2017-06-25    34.529044
2017-07-09    34.265135
2017-07-23    35.278872
2017-08-06    36.272775
2017-08-20    37.904118
2017-09-03    38.458792
2017-09-17    38.282708
2017-10-01    36.840875
2017-10-15    37.071595
2017-10-29    37.757320
2017-11-12    41.032237
2017-11-26    41.204376
2017-12-10    40.867068
2017-12-24    41.620866
2018-01-07    40.795711
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178333
2017-03-31    32.524055
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761186
2017-11-30    39.402612
2018-01-31    41.160039
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [151]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203367
2017-01-15    0.072528
2017-01-22    0.025554
2017-01-29    0.245284
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059347
2017-03-05    0.340089
2017-03-12    0.076286
2017-03-19    0.177840
2017-03-26    0.157264
2017-04-02    0.319806
2017-04-09    0.128692
2017-04-16    0.212473
2017-04-23    0.174675
2017-04-30    0.090024
2017-05-07    0.235639
2017-05-14    0.352978
2017-05-21    0.536094
2017-05-28    0.060388
2017-06-04    0.281225
2017-06-11    0.620035
2017-06-18    0.382563
2017-06-25    0.128896
2017-07-02    0.264107
2017-07-09    0.158887
2017-07-16    0.404286
2017-07-23    0.124991
2017-07-30    0.384442
2017-08-06    0.924387
2017-08-13    0.467469
2017-08-20    0.435247
2017-08-27    0.275765
2017-09-03    0.251727
2017-09-10    0.381638
2017-09-17    0.294139
2017-09-24    0.735188
2017-10-01    0.354846
2017-10-08    0.204854
2017-10-15    0.118728
2017-10-22    0.516996
2017-10-29    0.680459
2017-11-05    0.560681
2017-11-12    0.190969
2017-11-19    0.436200
2017-11-26    0.563046
2017-12-03    0.427445
2017-12-10    0.073130
2017-12-17    0.205265
2017-12-24    0.194122
2017-12-31    0.190392
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787130
2017-01-15    28.220751
2017-01-22    28.279671
2017-01-29    28.739210
2017-02-05    30.419493
2017-02-12    31.341906
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022385
2017-03-19    33.299313
2017-03-26    33.481548
2017-04-02    34.111141
2017-04-09    34.264984
2017-04-16    33.886280
2017-04-23    33.713505
2017-04-30    34.208172
2017-05-07    35.256699
2017-05-14    37.099129
2017-05-21    37.004063
2017-05-28    36.597652
2017-06-04    36.944653
2017-06-11    36.925644
2017-06-18    34.838947
2017-06-25    34.779545
2017-07-02    34.658329
2017-07-09    34.266186
2017-07-16    35.421234
2017-07-23    35.891811
2017-07-30    36.471703
2017-08-06    37.346294
2017-08-13    38.277935
2017-08-20    38.557091
2017-08-27    38.170563
2017-09-03    39.141655
2017-09-10    38.671619
2017-09-17    38.533234
2017-09-24    37.872322
2017-10-01    36.798641
2017-10-08    37.075409
2017-10-15    37.457161
2017-10-22    38.287483
2017-10-29    38.903065
2017-11-05    41.157784
2017-11-12    42.050133
2017-11-19    41.657742
2017-11-26    41.897190
2017-12-03    41.686474
2017-12-10    40.659218
2017-12-17    41.657742
2017-12-24    42.244400
2017-12-31    40.965717
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341726
2017-01-15    28.041653
2017-01-22    28.227823
2017-01-29    28.272600
2017-02-05    28.597815
2017-02-12    30.704645
2017-02-19    31.547825
2017-02-26    32.314686
2017-03-05    32.409367
2017-03-12    32.823563
2017-03-19    32.896935
2017-03-26    33.098114
2017-04-02    33.344280
2017-04-09    33.926514
2017-04-16    33.384514
2017-04-23    33.296928
2017-04-30    33.997524
2017-05-07    34.681553
2017-05-14    36.215271
2017-05-21    35.708801
2017-05-28    36.443180
2017-06-04    36.305336
2017-06-11    35.406975
2017-06-18    33.812256
2017-06-25    34.463444
2017-07-02    34.147354
2017-07-09    33.921581
2017-07-16    34.475330
2017-07-23    35.544819
2017-07-30    35.530552
2017-08-06    35.347565
2017-08-13    37.058712
2017-08-20    37.578857
2017-08-27    37.509659
2017-09-03    38.526073
2017-09-10    37.848465
2017-09-17    37.764957
2017-09-24    36.240330
2017-10-01    35.920609
2017-10-08    36.619694
2017-10-15    37.182789
2017-10-22    37.216183
2017-10-29    37.261517
2017-11-05    39.778709
2017-11-12    41.575333
2017-11-19    40.486805
2017-11-26    40.702320
2017-12-03    40.582596
2017-12-10    40.470051
2017-12-17    41.114182
2017-12-24    41.748734
2017-12-31    40.522732
Freq: W-SUN, Name: Close, dtype: float64

In [152]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597815
2017-02-28    32.423573
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305336
2017-06-30    34.228172
2017-07-31    35.347565
2017-08-31    39.129726
2017-09-30    36.772400
2017-10-31    40.332241
2017-11-30    41.150105
2017-12-31    40.522732
Freq: M, Name: Close, dtype: float64

In [153]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

In [154]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863401635711603
0.05225848509209957
0.09901818794539397

In [155]:
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825758
2017-03-31    1.578682
2017-04-30   -0.002365
2017-05-31    2.305447
2017-06-30   -2.077164
2017-07-31    1.119392
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559841
2017-11-30    0.817863
2017-12-31   -0.627373
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [156]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [157]:
daily_return = last_day.pct_change()
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

In [158]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048689
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096807
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [159]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [160]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.906773
2017-12-26    40.843601
2017-12-27    40.850792
2017-12-28    40.965717
2017-12-29    40.522732
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [161]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low  ...     Volume  Dividends  Stock Splits
Date                                         ...
2016-01-31  21.852379  22.440241  21.750943  ...  257666000        0.0             0
2016-02-29  22.450755  22.768302  22.402081  ...  140865200        0.0             0
2016-03-31  25.431526  25.473247  25.236825  ...  103553600        0.0             0
2016-04-30  21.785535  21.954739  21.442493  ...  274126000        0.0             0
2016-05-31  23.226407  23.412965  23.044514  ...  169228800        0.0             0
2016-06-30  22.023106  22.333256  21.990459  ...  143345600        0.0             0
2016-07-31  24.296784  24.380735  24.177853  ...  110934800        0.0             0
2016-08-31  24.773056  24.986413  24.768365  ...  118649600        0.0             0
2016-09-30  26.367390  26.580749  26.212647  ...  145516400        0.0             0
2016-10-31  26.646398  26.782385  26.540890  ...  105677600        0.0             0
2016-11-30  26.300092  26.441490  25.986658  ...  144649200        0.0             0
2016-12-31  27.490197  27.619811  27.202687  ...  122345200        0.0             0

[12 rows x 7 columns]

In [162]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.852379  22.440241  21.750943  22.440241
2016-02-29  22.450755  22.768302  22.402081  22.411352
2016-03-31  25.431526  25.473247  25.236825  25.262321
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023106  22.333256  21.990459  22.293613
2016-07-31  24.296784  24.380735  24.177853  24.301447
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596

In [163]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])

                 Open       High        Low      Close
Date
2016-03-31  25.431526  25.473247  25.236825  25.262321
2016-04-30  21.785535  21.954739  21.442493  21.727589
2016-05-31  23.226407  23.412965  23.044514  23.287039
2016-06-30  22.023106  22.333256  21.990459  22.293613

In [164]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.431526  25.473247  25.236825  25.262321
2016-08-31  24.773056  24.986413  24.768365  24.876217
2016-09-30  26.367390  26.580749  26.212647  26.505722
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [165]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852379  22.440241  21.750943  22.440241          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001287
2016-03-31  25.431526  25.473247  25.236825  25.262321     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023106  22.333256  21.990459  22.293613    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065505
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [166]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [167]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [168]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001287
2016-03-31  25.431526  25.473247  25.236825  25.262321     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023106  22.333256  21.990459  22.293613    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065505
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852379  22.440241  21.750943  22.440241     0.000000
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001287
2016-03-31  25.431526  25.473247  25.236825  25.262321     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023106  22.333256  21.990459  22.293613    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065505
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [169]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [170]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104300
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852379  22.440241  21.750943  22.440241          NaN   3.110856
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001287   3.109568
2016-03-31  25.431526  25.473247  25.236825  25.262321     0.127211   3.229314
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921   3.078583
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773   3.147897
2016-06-30  22.023106  22.333256  21.990459  22.293613    -0.042660   3.104300
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063   3.190536
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652   3.213912
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065505   3.277361
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334   3.281686
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601   3.259848
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955   3.306689

In [171]:

df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.646398  26.782385  26.540890  26.620607
2016-11-30  26.300092  26.441490  25.986658  26.045574
2016-12-31  27.490197  27.619811  27.202687  27.294596
2017-01-31  28.550682  28.607241  28.425781  28.597815
2017-02-28  32.444873  32.530080  32.354932  32.423573
2017-03-31  34.016455  34.146633  33.848407  34.002254
2017-04-30  34.104032  34.153737  33.909951  33.999889

In [172]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High  ...       Volume  Stock Splits
Date                              ...
2016-01-31  21.852379  22.440241  ...          NaN           NaN
2016-02-29  22.450755  22.768302  ...          NaN           NaN
2016-03-31  25.431526  25.473247  ...          NaN           NaN
2016-04-30  21.785535  21.954739  ...          NaN           NaN
2016-05-31  23.226407  23.412965  ...          NaN           NaN
2016-06-30  22.023106  22.333256  ...          NaN           NaN
2016-07-31  24.296784  24.380735  ...          NaN           NaN
2016-08-31  24.773056  24.986413  ...          NaN           NaN
2016-09-30  26.367390  26.580749  ...          NaN           NaN
2016-10-31  26.646398  26.782385  ...  105677600.0           0.0
2016-11-30  26.300092  26.441490  ...  144649200.0           0.0
2016-12-31  27.490197  27.619811  ...  122345200.0           0.0
2017-01-31        NaN        NaN  ...  196804000.0           0.0
2017-02-28        NaN        NaN  ...   93931600.0           0.0
2017-03-31        NaN        NaN  ...   78646800.0           0.0
2017-04-30        NaN        NaN  ...   83441600.0           0.0

[16 rows x 7 columns]

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [173]:
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High  ...     Volume  Stock Splits
Date                              ...
2016-10-31  26.646398  26.782385  ...  105677600             0
2016-11-30  26.300092  26.441490  ...  144649200             0
2016-12-31  27.490197  27.619811  ...  122345200             0

[3 rows x 7 columns]

In [174]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852379  22.440241  21.750943  22.440241          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001287
2016-03-31  25.431526  25.473247  25.236825  25.262321     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023106  22.333256  21.990459  22.293613    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065505
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955
2016-10-31  26.646398  26.782385  26.540890  26.620607          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

In [175]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852379  22.440241  21.750943  22.440241          NaN
2016-02-29  22.450755  22.768302  22.402081  22.411352    -0.001287
2016-03-31  25.431526  25.473247  25.236825  25.262321     0.127211
2016-04-30  21.785535  21.954739  21.442493  21.727589    -0.139921
2016-05-31  23.226407  23.412965  23.044514  23.287039     0.071773
2016-06-30  22.023106  22.333256  21.990459  22.293613    -0.042660
2016-07-31  24.296784  24.380735  24.177853  24.301447     0.090063
2016-08-31  24.773056  24.986413  24.768365  24.876217     0.023652
2016-09-30  26.367390  26.580749  26.212647  26.505722     0.065505
2016-10-31  26.646398  26.782385  26.540890  26.620607     0.004334
2016-11-30  26.300092  26.441490  25.986658  26.045574    -0.021601
2016-12-31  27.490197  27.619811  27.202687  27.294596     0.047955
2016-10-31  26.646398  26.782385  26.540890  26.620607          NaN
2016-11-30  26.300092  26.441490  25.986658  26.045574          NaN
2016-12-31  27.490197  27.619811  27.202687  27.294596          NaN
2017-01-31  28.550682  28.607241  28.425781  28.597815          NaN
2017-02-28  32.444873  32.530080  32.354932  32.423573          NaN
2017-03-31  34.016455  34.146633  33.848407  34.002254          NaN
2017-04-30  34.104032  34.153737  33.909951  33.999889          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [176]:
df_2017.columns = ['change', 'high', 'low', 'close']
concat = pd.concat([aapl_bar, df_2017], axis = 0,sort=True)
print(concat)

                Close       High        Low  ...       high        low  rate_return
Date                                         ...
2016-01-31  22.440241  22.440241  21.750943  ...        NaN        NaN          NaN
2016-02-29  22.411352  22.768302  22.402081  ...        NaN        NaN    -0.001287
2016-03-31  25.262321  25.473247  25.236825  ...        NaN        NaN     0.127211
2016-04-30  21.727589  21.954739  21.442493  ...        NaN        NaN    -0.139921
2016-05-31  23.287039  23.412965  23.044514  ...        NaN        NaN     0.071773
2016-06-30  22.293613  22.333256  21.990459  ...        NaN        NaN    -0.042660
2016-07-31  24.301447  24.380735  24.177853  ...        NaN        NaN     0.090063
2016-08-31  24.876217  24.986413  24.768365  ...        NaN        NaN     0.023652
2016-09-30  26.505722  26.580749  26.212647  ...        NaN        NaN     0.065505
2016-10-31  26.620607  26.782385  26.540890  ...        NaN        NaN     0.004334
2016-11-30  26.045574  26.441490  25.986658  ...        NaN        NaN    -0.021601
2016-12-31  27.294596  27.619811  27.202687  ...        NaN        NaN     0.047955
2016-10-31        NaN        NaN        NaN  ...  26.782385  26.540890          NaN
2016-11-30        NaN        NaN        NaN  ...  26.441490  25.986658          NaN
2016-12-31        NaN        NaN        NaN  ...  27.619811  27.202687          NaN
2017-01-31        NaN        NaN        NaN  ...  28.607241  28.425781          NaN
2017-02-28        NaN        NaN        NaN  ...  32.530080  32.354932          NaN
2017-03-31        NaN        NaN        NaN  ...  34.146633  33.848407          NaN
2017-04-30        NaN        NaN        NaN  ...  34.153737  33.909951          NaN

[19 rows x 9 columns]

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.